
  
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
 <div class="contenedor">
 	<header class="header">
		<h1 id="company"><strong>WEB DESIGN COMPANY</strong></h1>
		<div class="img">
		<img src="../static/css/fotoweb.jpg" alt="imagen empresa" class="imagen">
	</div>
<!------------------------------------------------>
<div class="dropdown">
	<input type="checkbox" id="menu-toggle"> <!-- Checkbox oculto -->
	<label for="menu-toggle" class="menu-icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
			<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
		</svg>
	</label>

	<div class="list">
		<ul>
			<li><a id="inicio" href="http://localhost:5000"><strong>Inicio</strong></a></li>
			<li><a id="trabaja" href="http://localhost:5000/trabajo"><strong>Trabaja con nosotros</strong></a></li>
			<li><a id="servicios" href="http://localhost:5000/servicios"><strong>Nuestros servicios</strong></a></li>
		</ul>
	</div>
</div>
</header>

<!------------------------------------------------>
 	<main class="contenido">
		
 		<h3><em>¿Quienes somos?</em></h3>
 		<p>Web 	Design Company es una agencia de diseño y desarrollo web con una visión clara: ayudar a empresas y emprendedores a tener una presencia digital impactante y efectiva. Nos especializamos en la creación de experiencias digitales innovadoras que combinan creatividad, funcionalidad y tecnología de vanguardia.

			Nuestra misión es ofrecer soluciones digitales personalizadas que potencien la imagen y el crecimiento de nuestros clientes. Creemos que un buen diseño web no solo debe ser estéticamente atractivo, sino también intuitivo, accesible y optimizado para generar resultados.</p>
		<p>
			Contamos con un equipo de profesionales altamente capacitados en diseño gráfico, desarrollo web, experiencia de usuario (UX), optimización SEO y estrategias de marketing digital. Trabajamos con metodologías ágiles para garantizar eficiencia en nuestros proyectos y adaptabilidad a las necesidades de cada cliente.</p>
 	</main>
 	<div class="siderbar">
 		<h3><em>¿Por qué elegirnos?</em></h3>
		<p id="texto">Contamos con un equipo de profesionales altamente capacitados en diseño gráfico, desarrollo web, experiencia de usuario (UX), optimización SEO y estrategias de marketing digital. Trabajamos con metodologías ágiles para garantizar eficiencia en nuestros proyectos y adaptabilidad a las necesidades de cada cliente.
			A lo largo de nuestra trayectoria, hemos trabajado con empresas de diversos sectores, ayudándolas a posicionarse en el mundo digital y a alcanzar sus objetivos comerciales. Nuestro compromiso es brindar soluciones innovadoras, confiables y escalables que permitan a nuestros clientes destacarse en el mercado.
			En Web Desing Company, no solo diseñamos páginas web, sino que creamos experiencias digitales que impactan y generan valor.</p>

	</div>
 	<div class="Widget-1">
 		<h3>¿Qué ofrecemos?</h3>
		<h4>Beneficios para tu negocio:</h4>
	<ul>
		<li><strong>Presencia Profesional:</strong>Un sitio web atractivo y confiable.</li>

			<li><strong>Mayor Alcance:</strong>Llega a más clientes con un diseño optimizado.</li>
			
		<li><strong>Experiencia de Usuario (UX):</strong>Navegación intuitiva y agradable.</li>	
			
		<li> <strong>Conversión Mejorada:</strong>Diseños enfocados en generar ventas y leads.</li>	
	</ul>
 	</div>
 	<div class="Widget-2">
 		<h3>Nuestro Proceso de Trabajo.</h3>
		<ul>
			<li> <strong> Análisis:</strong> Estudiamos las necesidades del cliente.</li>
			<li><strong>Diseño:</strong> Creamos propuestas visuales atractivas.</li>
			<li><strong>Desarrollo:</strong> Construimos un sitio funcional y optimizado.</li>
			<li><strong>Lanzamiento y Soporte:</strong> Publicamos y damos mantenimiento.</li>
		</ul>
 	</div>
 	<footer class="footer">
 		<h4>Sitio web: www.webdesing.com --- Correo: contacto@webdesing.com --- Teléfono: +123 456 789 --- Redes Sociales: @webdesing</h4>
 	</footer>
 </div>
</body>
</html>